@{
    ViewBag.Title = "Weather";
}


<h1>Weather Forecast</h1>

<div>
    <div>Enter City Name:</div> <input type="text" id="cityInput" placeholder="City" />
    <br />
    <br />
    <button id="submitBtn" type="submit">Search</button>
</div>
<br />
<br />
<div>
    <h2>Current Weather</h2>
    <table>
        <tr>
        <tr>
            <td>
                City:
                <span id="tblCity"></span>
                
            </td>

        </tr>
        <tr>
            <td>
                Current Temperature:
                <label id="tblTemp"></label>
                
            </td>

        </tr>
        <tr>
            <td>
                Minimum Temperature:
                <label id="tblTempMin"></label>
                
            </td>

        </tr>
        <tr>
            <td>
                Maximum Temperature:
                <label id="tblTempMax"></label>
                
            </td>

        </tr>
        <tr>
            <td>
                Air Pressure:
                <label id="tblAirPress"></label>
                
            </td>

        </tr>
        <tr>
            <td>
                Humidity:
                <label id="tblHumidity"></label>
                
            </td>

        </tr>
        <tr>
            <td>
                Wind Speed:
                <label id="tblWindSpeed"></label>
                
            </td>

        </tr>
        <tr>
            <td>
                Wind Direction:
                <label id="tblWindDirec"></label>
                
            </td>

        </tr>
        <tr>
            <td>
                Cloud Cover Condition:
                <label id="tblCloudCond"></label>
                
            </td>

        </tr>
    </table>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>



        
    $("#submitBtn").click(function () {    

        var city = $("#cityInput").val();    
        if (city !== "" || city !== null)    
        {    
        $.ajax({    
            url: "https://localhost:44328/WeatherMap/GetForecast?city=" + city,    
            type: 'Post',
            dataType: 'json',
            data: {id : city },
            success: function (resultValue) {
                var data = JSON.stringify(resultValue);
                var data1 = JSON.parse(data);
                debugger;
                console.log(data1);
                $("#tblCity").html(data1.city);     
                $("#tblTemp").text(data1.currentTemp);    
                $("#tblTempMin").text(data1.tempMin);    
                $("#tblTempMax").text(data1.tempMax);
                $("#tblAirPress").text(data1.airPressure);
                $("#tblHumidity").text(data1.humidity);    
                $("#tblWindSpeed").text(data1.windSpeed);    
                $("#tblWindDirec").text(data1.windDirection);    
                $("#tblCloudCond").text(data1.cloudCondition);    
                  
            },    
            faulure: function () {    
                alert("Failed request");
            }    
        });    
        }    
        else    
        {    
            alert("City Not Found");    
        }    
    });    

</script>    


                
}
